<!DOCTYPE html>
<html lang="en">
  <title>AI - CNN for face recognition - by Juliano Batistim 2020</title>
  <head>
    <!-- <link href="../static/main.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='main.css') }}"  rel="stylesheet"/>
  </head>
    <body>
      <div class="container">
        <h1>CNN for face recognition</h1>
        <h3>Convolutional neural network trainned to recognize faces of <b>Juliano</b> and <b>Luna</b></h3>
        <h3>Upload an image and click Submit to try</h3>
        <form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" /> <br>
          <button type="submit"> Submit </button>
        </form>
        
        
        <h1>Download some sample images</h1>

        <tr>
          <td>
            <a href="https://i.imgur.com/dkkDceG.jpg" target="_blank">
            <img src="https://i.imgur.com/dkkDceGb.jpg" alt="Ju e Luna" />
            </a>
          </td>
          <td>
            <a href="https://i.imgur.com/HCOpLYH.jpg" target="_blank">
            <img src="https://i.imgur.com/HCOpLYHb.jpg" alt="Ju e Luna" />
            </a>
          </td>
          <td>
            <a href="https://i.imgur.com/FwC577p.jpg" target="_blank">
            <img src="https://i.imgur.com/FwC577pb.jpg" alt="Ju e Luna" />
            </a>
          </td>
          <td>
            <a href="https://i.imgur.com/39savDH.jpg" target="_blank">
            <img src="https://i.imgur.com/39savDHb.jpg" alt="Luna" />
            </a>
          </td>
        </tr>
        <br/>
        <tr>
          <td>
            <a href="https://i.imgur.com/a857lxI.jpg" target="_blank">
            <img src="https://i.imgur.com/a857lxIb.jpg" alt="Danilo Gentili" />
            </a>
          </td>
          <td>
            <a href="https://i.imgur.com/IJCWRWs.jpg" target="_blank">
            <img src="https://i.imgur.com/IJCWRWsb.jpg" alt="Luna" />
            </a>
          </td>
          <td>
            <a href="https://i.imgur.com/bdv7c3N.jpg" target="_blank">
            <img src="https://i.imgur.com/bdv7c3Nb.jpg" alt="Elon Musk" />
            </a>
          </td>
          <td>
            <a href="https://i.imgur.com/LX8M2gq.jpg" target="_blank">
            <img src="https://i.imgur.com/LX8M2gqb.jpg" alt="Ju e Luna" />
            </a>
          </td>
        </tr>


      </div>
    </body>
</html>
