<!DOCTYPE html>
<html lang="en">
  <title>AI by Juliano Batistim</title>
  <head>
    <link href="{{ url_for('static', filename='main.css') }}"  rel="stylesheet"/>
  </head>
    <body>
      <div class="container">
        <p> Thanks for trying! <br>
          Your experience will be used to improve the model =)
        </p>         
        <img src="{{ img }}" alt="predicted image">
        <form action="{{url_for('index')}}" method="GET" enctype="multipart/form-data">
          <button type="submit"> Back </button>
        </form> 
      </div>
    </body>
</html>
